body {
  margin: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 150vh;
  background-color: #242B2E;
  color: white;
  max-width: 700px ;
  font-size: xx-large;
  align-self: center;


}


main {
  border: 1px solid white;
  text-align: center;
  height: 200%;
}


p {
  padding: 2rem;
  text-align: left;
  font-size: large;
}

