body {
  margin: 2rem;
  padding: 3rem;
  box-sizing: border-box;
  height: 150vh;
  background-color: white;
  color: #242B2E;
  max-width: 700px ;
  font-size: xx-large;
  margin-left: 400px
 


}


main {
 
  text-align: center;
  height: 200%;
}


p {
  padding: 2rem;
  text-align: left;
  font-size: large;
}

#bday-input{
  font-size: larger;
}

#show-btn{
  font-size: xx-large;
  color: white;
  background-color: #242B2E; 
  margin-top: 50px;
}